<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="container">
            <p>O Melhor Layout do Mundo</p>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                menu lateral
            </aside>

            <section>
                <h1>Estruturando com HTML e CSS</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem consequuntur aperiam tempora rem
                    aliquam dolor recusandae suscipit. Quam, incidunt quibusdam, dicta ipsum, harum placeat quae debitis
                    porro fugiat ipsam blanditiis?</p>
                <h2>Meus Projetos</h2>

                
                <div class="projects">

                    <div class="projects">
                        <img src="https://akamai.sscdn.co/uploadfile/letras/fotos/9/5/8/2/95825163d5f6100cecd1a98fcd681246-tb7.jpg" alt="nelson gonçalves">
                        projeto 1
                    </div>
        
                    <div class="projects">
                        projeto 2
                    </div>
        
                    <div class="projects">
                        projeto 3
                    </div>
                </div>

            </section>
        </div>
        


    </main>

    <footer>
        <div class="container">
            <p>Feito por Micael</p>
        </div>

    </footer>
</body>

</html>